/* обнуляем все настройки по умолчанию */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
/* меняет подсчет ширины блока для удобства */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* убираем линии обводки у браузеров */
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
/* делаем значения блочными */
nav,
footer,
header,
aside {
  display: block;
}
/* уравниваем поведение шрифтов и элементов для разных браузеров */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -mos-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/* просим теги наследовать семейство шрифта */
input,
button,
textarea {
  font-family: inherit;
}
/* убираем некоторые особенности в разных браузерах
    специфический псевдоэлемент */
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
/* специфический псевдоэлемент */
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
/* обнуляем заголовки h */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --color1: #92acdc;
  --color2: #2bbcc8;
  --color3: #2bc8ac;
  --color4: #dedc93;
  --color5: rgba(92, 200, 189, 0.585);
  --color6: rgb(92, 200, 189);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  min-height: 110vh;
  background-color: var(--color5);
}
.score {
  min-width: 245px;
  height: 200px;
  background-color: rgb(205, 75, 9);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border: 1px solid black;
  outline: 1px solid black;
  color: #fff;
  margin-bottom: 25px;
  border-radius: 5px;
}
.score__title {
  font-size: 25px;
  text-transform: uppercase;
}
.score__row {
  display: flex;
  justify-content: center;
  column-gap: 70px;
}
.player__1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.player__1 .score__name {
  font-size: 18px;
}
.player__1 .score__count {
  font-size: 28px;
}
.draw .score__name {
  font-size: 18px;
  margin-right: 10px;
  text-transform: uppercase;
}
.draw .score__count {
  font-size: 18px;
}
.turn {
  padding: 15px 20px;
  background-color: rgb(205, 75, 9);
  border: 1px solid black;
  outline: 1px solid black;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 18px;
}
.container {
  width: 400px;
  height: 400px;
  background-color: rgb(205, 75, 9);
  border-radius: 10px;
  padding: 25px;
  border: 2px solid black;
  outline: 2px solid black;
  position: relative;
}
.cards,
.card,
.view {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  width: calc(100% / 3 - 15px);
  height: calc(100% / 3 - 20px);
  cursor: pointer;
  position: relative;
  perspective: 800px;
  transform-style: preserve-3d;
}
.card img {
  max-width: 45px;
}
.view {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 7px;
  border: 1px solid black;
  pointer-events: none;
  user-select: none;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.3s linear 0s;
}

.material-symbols-outlined {
  font-size: 50px !important;
  color: var(--color5);
}

.back {
  transform: rotateY(-180deg);
}
.flip .front {
  transform: rotateY(180deg);
}
.flip .back {
  transform: rotateY(0deg);
}

.line {
  width: 100%;
  height: 2px;
  background-color: black;
}
.verticlal__line {
  position: absolute;
  left: 34.2%;
  height: 95%;
  width: 2px;
  background-color: black;
}
.verticlal__line-second {
  position: absolute;
  right: 34.2%;
  height: 95%;
  width: 2px;
  background-color: black;
}
.line,
.verticlal__line,
.verticlal__line-second {
  user-select: none;
  pointer-events: none;
}

.modal__wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.523);
  display: none;
  align-items: center;
  justify-content: center;
}
.modal {
  width: 20%;
  height: 20%;
  padding: 0px 0 0px 0;

  border-radius: 5px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}
.block__1 {
  position: relative;
  padding: 15px 0px;
  width: 100%;
  background-color: var(--color6);
  margin-bottom: 2px;
  text-align: center;
  border: 1px solid black;
}
.block__2 {
  padding: 15px 0px;
  width: 100%;
  background-color: var(--color6);
  text-align: center;
  border: 1px solid black;
}
.modal p {
  font-size: 35px;

  color: black;
}
.modal p::first-letter {
  text-transform: capitalize;
}
.modal__btn {
  position: absolute;
  top: 5px;
  right: 10px;
  color: black;
  font-size: 25px;
  cursor: pointer;
}
.restart__btn {
  display: none;
  margin-top: 30px;
  border: 0.5px solid black;
  outline: 0.5px solid black;
  padding: 10px 15px;
  background-color: rgb(205, 75, 9);
  color: #fff;
  border-radius: 8px;
  font-size: 15px;
}
.shake {
  animation: shake 1s ease-in-out;
}
@keyframes shake {
  0% {
    transform: scale(1);
    box-shadow: 0px 0px 8px 8px rgba(7, 241, 38, 0);
  }
  25% {
    transform: scale(1.25);
    box-shadow: 0px 0px 8px 8px rgba(7, 241, 37, 0.2);
  }
  50% {
    transform: scale(1.5);
    box-shadow: 0px 0px 8px 8px rgba(7, 241, 38, 0);
  }
  75% {
    transform: scale(1.25);
    box-shadow: 0px 0px 8px 8px rgba(7, 241, 37, 0.2);
  }
  100% {
    transform: scale(1);
    box-shadow: 0px 0px 8px 8px rgba(7, 241, 38, 0);
  }
}
.hidden {
  display: none;
}
.active {
  display: flex;
}
